.banner{
background-image: url(/image/Add\ a\ heading\ \(3\).png);


background-repeat: no-repeat;
background-size: cover;
height: 400px;
}



.design{
margin: 80px;
display: flex;
justify-content: center;
align-items: center;
}

.video{
border: 5px solid rgb(184, 11, 69);
border-radius: 3px;


}
